!!! 5
html
	head
		link(href="/style.css", rel="stylesheet", type="text/css")
		script(src="http://code.jquery.com/jquery-1.4.4.js", type="text/javascript")
		script(src="/lib/sammy/lib/sammy.js", type="text/javascript")
		script(src="/lib/jquery.jeditable.js", type="text/javascript")
		script(src="/lib/nodecms/lib/client.js", type="text/javascript")
	body
		#heading Nodecms
		#session
		#nav
			ul
				li
					a(href="/test/a") Test page A
				li
					a(href="/test/b") Test page B
				li
					a(href="http://google.com") Google

		#main
			!= body
